body{
    margin : 0 ;
    padding : 0;
    font-family : Arial, sans-serif;
    background-color:darkgray;
}
header{
    background-color:darkslategrey;
}
header h1{
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav{
    display: inline;
    margin-right: 15px;
}
nav a{
    color:white;
    text-decoration: none;
}
.about{
    background-color:white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
footer{
    background-color:dimgray;
    color:white;
    text-align:center;
    padding: 10px;
}
.wp-img{
    width:200px;
    border-radius: 10px;
}
.btn:hover{
    background-color: #333;
    color: #fff;
}
.contact-form {
    max-width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 15px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    margin-top: 20px;
}
